<li>
  <article>
    <header>
      <address>By <%= comment.commenter %></address>
      <time><%= I18n.l comment.insert_dttm, format: :long %></time>
    </header>
    <div class="comcont">
      <p><%= comment.body %></p>
    </div>
    <p> <%= link_to 'Destroy Comment', [comment.article, comment],
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %> </p>
  </article>
</li>
