<%= form_with(model: [ @article, @article.comments.build ]) do |form| %>
  <div class="one_third first">
    <label for="name">Name <span>*</span></label>
    <%= form.text_field :commenter %>
  </div>
  <div class="block clear">
    <label for="comment">Your Comment</label>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
