<div id="pageintro" class="hoc clear">
  <article class="introtxt">
    <h2 class="heading"><%= @articles[0].title %></h2>
    <p><%= truncate(@articles[0].text, length: 90) %></p>
    <footer><%= link_to "Read latest in #{@articles[0].category} &raquo;".html_safe, article_path(@articles[0]), :class => "btn medium" %></footer>
  </article>
  <div class="clear"></div>
</div>
